{% extends 'base.html.twig' %}

{% block body %}
    <h1>creation de profil</h1>

    {{ form_start(form) }}

    <div class="form-group col-md-6">
        {{ form_label(form.age, "age") }}
        {{ form_widget(form.age, {'attr': {'class': 'form-control input-sm"'}}) }}
    </div>

    <div class="form-group col-md-6">
        {{ form_label(form.famille, "famille") }}
        {{ form_widget(form.famille, {'attr': {'class': 'form-control input-sm"'}}) }}
    </div>

    <div class="form-group col-md-6">
        {{ form_label(form.race, "race") }}
        {{ form_widget(form.race, {'attr': {'class': 'form-control input-sm"'}}) }}
    </div>

    <div class="form-group col-md-6">
        {{ form_label(form.nourriture, "nourriture") }}
        {{ form_widget(form.nourriture, {'attr': {'class': 'form-control input-sm"'}}) }}
    </div>

        {#{{ form_widget(form) }}#}
    <input type="submit" class="btn btn-primary" value="submit" />
    {{ form_rest(form) }}

    {{ form_end(form) }}


{% endblock %}
